{% import 'snippets/buttons.html' as buttons %}


{% macro stacked(form, url='', legend='') %}
  {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
      {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
  {% endfor %}

  <form method="post" class="transaction-form pure-form pure-form-stacked" action="{{ url }}">
    <fieldset>
      {% if legend %}<legend>{{ legend }}</legend>{% endif %}

      {% for field in form %}
        {{ field(class="pure-input-1", placeholder=field.label.text) }}
      {% endfor %}

      {{ buttons.form_submit() }}
    </fieldset>
  </form>

{% endmacro %}
