[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
wtforms = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-restless = "*"
gunicorn = "*"
