{% import 'snippets/buttons.html' as buttons %}
{% import 'snippets/forms.html' as forms %}
{% import 'snippets/tables.html' as tables %}

{% extends "base.html" %}

{% block content %}


  <h1>{{ payday.date.strftime("%B %d") }}</h1>&nbsp;&nbsp;&nbsp;&nbsp;<h3>{{ "${:,.2f}".format(payday.savings_to_date) }}</h3>

  <br>

  <div class="pure-g">
    <div class="pure-u-3-8">
      <h3>Income:</h3>
      {{ tables.transactions(payday.incomes.all(), payday=payday.id, type='income')}}


    </div>

    <div class="pure-u-3-8">
      <h3>Expenses:</h3>
      {{ tables.transactions(payday.expenses.all(), payday=payday.id, type='expense')}}

    </div>

  </div>
{% endblock %}

{% block action %}
  {% set create_payday_url = url_for('wallet.create_payday_transaction', payday=payday.id) %}
  {{ forms.stacked(form, url=create_payday_url, legend="Add Transaction") }}
{% endblock %}
