/*
 * -- BASE --
 */

body { height: 100%; color: #333; }
a { text-decoration: none; color: #1b98f8; }
h1 { display: inline-block; }
h3 { display: inline-block; }
h4 { display: inline-block; }
h5 { display: inline-block; }

/*
* -- FORMS --
*/

.pure-form-stacked { padding: 5% 5% 0 0; }
.pure-form-stacked fieldset * { float: right; clear: both; }

/*
* -- BUTTONS --
*/

.pure-button { color: white; border-radius: 4px; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }

.pure-button.button-secondary { background: rgb(66, 184, 221); } /* light blue */
.pure-button.button-success { background: rgb(28, 184, 65); } /* green */
.pure-button.button-warning { background: rgb(223, 117, 20); } /* orange */
.pure-button.button-error { background: rgb(202, 60, 60); } /* red */

.pure-button.button-xsmall { font-size: 70%; }
.pure-button.button-small { font-size: 85%; }

/*
* -- TABLE --
*/

.pure-table.borderless { border: 0; }
.pure-table.borderless td { border: 0; }
/*
 * -- LIST ITEM LABELS --
 */

.label {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
}
.label.label-yellow { background: #ffc94c; }
.label.label-cyan { background: #41ccb4; }
.label.label-green { background: #40c365; }

/*
* -- NAV --
*/

#nav { height: 100%; width: 80%; background: rgb(37, 42, 58); }
#nav .pure-menu { padding-top: 50px; background: transparent; }

#nav .pure-menu-heading { font-size:110%; color: rgb(75, 113, 151);}
#nav .pure-menu-item { height: 50px; }

#nav .pure-menu-link:hover, #nav .pure-menu-link:focus { background: rgb(55, 60, 90); }
#nav .pure-menu-link { color: #fff; margin-left: 0.5em; }
