<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">

    <!-- External Style Sheets -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">

    <!-- Internal Style Sheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}">

  </head>

  <body>

    <div class="pure-g">
      <div class="pure-u-1">

        <div class="pure-g">
          <div class='pure-u-1-8'>
            {% block navigation %}{% include 'nav.html' %}{% endblock %}
          </div>


          <div class='pure-u-2-3'>
            {% block content %}{% endblock %}
          </div>

          <div class="pure-u-1-5">
            {% block action %}{% endblock %}
          </div>

        </div>
      </div>

    </div>

  </body>
</html
