<div id="nav" class="pure-u">
  <div class="pure-menu">

    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="{{ url_for('wallet') }}" class="pure-menu-link">Wallet</a></li>

      <li class="pure-menu-heading">Paydays</li>
      {% for x in wallet.paydays %}
        <li class="pure-menu-item"><a href="/{{ loop.index0 }}" class="pure-menu-link">{{ x.date.strftime("%b %d") }} - {{ "${:,f}".format(wallet.savings_for_payday(x)) }}</a></li>
      {% endfor %}
    </ul>

  </div>
</div>
