{% import 'snippets/buttons.html' as buttons %}
{% import 'snippets/forms.html' as forms %}
{% import 'snippets/tables.html' as tables %}

{% extends "base.html" %}

{% block content %}

  <h1>{{ payday.date.strftime("%B %d") }}</h1>&nbsp;&nbsp;&nbsp;&nbsp;<h3>{{ "${:,f}".format(wallet.savings_for_payday(payday)) }}</h3>

  <br>

  <div class="pure-g">
    <div class="pure-u-3-8">
      <h3>Income:</h3>
      {{ tables.transactions(payday.incomes) }}
    </div>

    <div class="pure-u-3-8">
      <h3>Expenses:</h3>
      <table class="pure-table pure-table-horizontal borderless">
        {% for x in payday.expenses %}
          {% set delete_url = url_for('delete_payday_transaction', payday=wallet.get_payday_id(payday), transaction_id=x.id) %}
          <tr>
            <td><a href="{{ url_for('edit_transaction', payday=wallet.get_payday_id(payday), transaction_id=x.id) }}">{{ x.name }}</a></td>
            <td>${{ x.amount }}</td>
            <td>{{ buttons.delete(delete_url) }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>
{% endblock %}

{% block action %}
  {% set create_payday_url = url_for('create_payday_transaction', payday=wallet.get_payday_id(payday)) %}
  {{ forms.stacked(form, url=create_payday_url, legend="Add Transaction") }}
{% endblock %}
