{% import 'snippets/buttons.html' as buttons %}
{% import 'snippets/forms.html' as forms %}
{% import 'snippets/tables.html' as tables %}

{% extends "base.html" %}

{% block content %}

  <h1>Wallet</h1>&nbsp;&nbsp;&nbsp;&nbsp;<h3>${{ wallet.balance }}</h3>

  <div class="pure-g">

    <div class="pure-u-3-8">
      <h3>Income:</h3>
      {{ tables.transactions(wallet.recurring_incomes) }}
    </div>

    <div class="pure-u-3-8">
      <h3>Expenses:</h3>
      {{ tables.transactions(wallet.recurring_expenses) }}
    </div>

  </div>
{% endblock %}

{% block action %}
  {% set update_wallet_url= url_for('update_wallet') %}
  {{ forms.stacked(update_wallet_form, url=update_wallet_url, legend="Update Savings Balance") }}

  {% set create_recurring_url = url_for('create_recurring_transaction') %}
  {{ forms.stacked(create_recurring_form, url=create_recurring_url, legend="Add Recurring Transaction") }}
{% endblock %}
